* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(255, 160, 160), rgb(255, 235, 154));
    font-family: 'Times New Roman', serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 96px;
    color: blue;
    text-shadow: 3px 3px rgb(123, 123, 123);
    margin: 10px;
}